/* Background */
* {
    margin: 0;
    padding: 0;
}
body {
    /* background: linear-gradient(to right, #f27121, #e94057, #8a2387); */
}

button {
    width: 217px;
    height: 48px;
    border-radius: 2px;
    border: none;
    background-color: rgba(255, 252, 252, 0.48);
}

button:hover {
    background-color: rgba(255, 252, 252, 0.33);
}

/* Notes */
*:focus {
    outline: none;
}

#paper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
    width: 37.5rem;
    height: auto;
    margin: 1.25rem auto;
    background-color: white;
    /* box-shadow: 0px 0px 5px 0px #888; */
    border-radius: 0.3125rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#paper::before {
    content: '';
    width: 0.125rem;
    height: 100%;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 2.5rem;
}
#pattern {
    height: 100%;
    background-image: repeating-linear-gradient(
        white 0px,
        white 24px,
        #d9d9d9 25px
    );
}
#content {
    padding-top: 0.375rem;
    padding-left: 3.5rem;
    padding-right: 1rem;
    line-height: 1.5625rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue';
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    word-spacing: 0.125rem;
    width: 100%;
    border: none;
    background: none;
    overflow: hidden;
}

.ce-toolbar__content {
    display: none;
}

[contenteditable] {
    outline: 0px solid transparent;
}

/* Controls panel */
.activeLink {
    border-radius: 2px;
    border: none;

    background-color: rgba(255, 252, 252, 0.33) !important;
}

.selection {
    background-color: rgba(255, 252, 252, 0.48);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}

.selection:hover {
    background-color: rgba(255, 252, 252, 0.33) !important;
}
