.activeLink {
    border-radius: 2px;
    border: none;

    background-color: rgba(255, 252, 252, 0.33) !important;
}

.selection {
    background-color: rgba(255, 252, 252, 0.48);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}

.selection:hover {
    background-color: rgba(255, 252, 252, 0.33) !important;
}
